HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
"terraform.tfvars" 
/infra/.terraform/
/infra/.terraform.lock.hcl
/infra/.terraform/providers/registry.terraform.io/hashicorp/azurerm/4.21.1/windows_386/LICENSE.txt
/infra/.terraform/providers/registry.terraform.io/hashicorp/azurerm/4.21.1/windows_386/terraform-provider-azurerm_v4.21.1_x5.exe
".terraform/"